html {
    background-color: rgb(249, 244, 221);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
body {
    width: 600px;
    margin: auto;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(109, 60, 19);
    font-weight: 400;
}
p {
    line-height: 1;
}
li {
    line-height: 2;
}
.nav {
    margin: 0%;
}

